<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Actualizar Estado</title>
	<meta charset="utf-8" /></div>
	<link rel="stylesheet" href="../css/normalize.min.css">
	<link rel="stylesheet" href="../css/style.css" />
    <link href="../css/custom-theme/jquery-ui-1.10.2.custom.css" rel="stylesheet"/>
    <script src="../js/prefixfree.min.js"></script>
	<script src="../js/jquery-1.9.1.js"></script>
    <script src="../js/jquery-ui-1.10.2.custom.min.js"></script>
    <style type="text/css">
		input[type=text] {
			width: 100%;
		}
    </style>
</head>
<body>
	<div id="page-datail" class="page-wrap-detail">
		<div class="page-wrap">
			<h3>Actualizar Estado</h3>
	        <div class="rowElem">
	            <div class="rowLabel"><label for="up-edo-input">Estado:</label></div>
	            <div class="rowInput"><input type="text" id="up-edo-input"  /></div>
	        </div>
	        <div class="rowElem"><div class="rowInput">
	        	<div id="noti-edo-update"></div>
	            <input type="submit" class="boton-form" id="update-edo" value="Actualizar" /></div></div>
		</div>
	</div>
	<script src="../js/functions-modificar-edo.ajax.js"></script>
</body>
</html>